<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body style="background-color: black;">
<!-- writing dynamic addition -->
 <div style="color: white;">Hey it addition <%=89+2%></div>
    <center /
        style=" margin-left:300px ;margin-right: 300px; padding: 10%; border: 1px ; border-radius:10%;border: solid ;border-color:rgb(3, 21, 37); background-color: rgb(126, 178, 223) ;">
        <form action="POST" title="Login">

            <center>
                <div style="color: aliceblue;font-weight: bold ">Login Form</div>
            </center>
            <br>
            <input type="text" placeholder="Enter the email" style="color: black"><br>
            <br>
            <input type="text" placeholder="Enter the password" style="color: black">
            <br>
            <br>
            <button type="submit" style=" background-color:red ;border-radius: 6px ;color: aliceblue" ;>Login</button>
            <br>
            <button style="color: red; background-color: black; border: none;">Reset password</button>
        </form>

</body>
<script src="/javascript/script.js"></script>
</html>